<!DOCTYPE html>
<html ng-app="adminDashboardApp">
<head>
  <meta charset="UTF-8">
  <title>Admin Dashboard - DashDarkX</title>
  <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css"> <!-- Boxicons para íconos -->
  <link href="render/bootstrap5/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="css/index.css"/>">
</head>
<body ng-controller="DashboardController">

  <!-- Menú horizontal -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <a class="navbar-brand" href="#">Dashboard</a>
    <button class="btn btn-primary" type="button" ng-click="toggleSidebar()">
      <i class='bx bx-menu-alt-left'></i>
    </button>
    <div class="search-box d-flex">
      <button class="btn btn-secondary" ng-click="toggleSearch()">
        <i class='bx bx-search'></i>
      </button>
      <input class="form-control me-2 search-input" type="text" placeholder="Search" ng-class="{ 'show': isSearchVisible }">
    </div>
  </nav>

  <!-- Menú vertical -->
  <div class="sidebar" ng-class="{ 'expanded': isSidebarExpanded }">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" href="#">
          <i class="bx bx-tachometer"></i>
          <span class="nav-link-text">Dashboard</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="bx bx-line-chart"></i>
          <span class="nav-link-text">Anime</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="bx bx-file"></i>
          <span class="nav-link-text">NSFW</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="bx bx-cog"></i>
          <span class="nav-link-text">BUSQUEDA</span>
        </a>
      </li>
    </ul>
  </div>

  <!-- Contenido principal -->
  <div class="main-content" id="mainContent" ng-class="{ 'expanded': isSidebarExpanded }">
    <div class="container mt-5 pt-5">
      <h1>Main Content Area</h1>
      <p>This is the main content area.</p>
    </div>
  </div>

  <!-- Footer -->
  <footer class="footer">
    <div class="container">
      <p>&copy; 2021 Company, Inc</p>
    </div>
  </footer>

  <script src="render/bootstrap5/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
  <script src="render/angular/js/angular.min.js"></script>
  <script>
    var app = angular.module('adminDashboardApp', []);

    app.controller('DashboardController', function($scope) {
      $scope.isSidebarExpanded = false;
      $scope.isSearchVisible = false;

      $scope.toggleSidebar = function() {
        $scope.isSidebarExpanded = !$scope.isSidebarExpanded;
      };

      $scope.toggleSearch = function() {
        $scope.isSearchVisible = !$scope.isSearchVisible;
      };
    });
  </script>
</body>
</html>







